<div class="container">
  <h1>Welcome!</h1>

  <p>If you don't have an account, please create one, otherwise click the link to log in.</p>

  <form id="create" action="/create" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign Up">
  </form>

  <p><a href="/user-login">Login</a></p>


</div>
